[submodule "mem/3rdparty/ep"]
	path = mem/3rdparty/ep
	url = https://github.com/valinet/ExplorerPatcher
[submodule "mem/3rdparty/sctfehexploit"]
	path = mem/3rdparty/sctfehexploit
	url = https://github.com/AEAEAEAE4343/SimpleClassicTheme/
