[submodule "explorer/mem/3rdparty/ep"]
	path = explorer/mem/3rdparty/ep
	url = https://github.com/valinet/ExplorerPatcher
[submodule "explorer/mem/3rdparty/sctfehexploit"]
	path = explorer/mem/3rdparty/sctfehexploit
	url = https://github.com/AEAEAEAE4343/SimpleClassicTheme/
